$primary-color: #4285f4;
$matte-black: #141414;
$red: #db2727;
$green: #27db48;

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Staatliches');


#app-body{
    font-size: 18px;
    text-align: center;
    height: 100vh;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: $matte-black;
    position: relative;
    overflow: hidden;

    #map{
        height: 85vh;
        background-image:url('../../img/map.png');
        background-size: cover;
    }

    .flex-container{
        position: absolute;
        top: 0; left:0;
        justify-content: space-between;
        width: 100vw;
    }
    header{
        height: 100px;
        text-transform: uppercase;
        .menu-toggler{
            padding-top: 10px;
            cursor: pointer;
        }
        h1{
            padding: 20px 0;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
        }
    }

    .form-holder{
        *:focus{
            border-color: rgba(66,133,244, .1)
        }
        text-align: left;
        padding: 20px;
        h1{
            text-align: center;
            text-transform: uppercase;
        }
        .btn{
            height: 50px;
        }
    }

    .else-container{
        width: 90%;
        margin: 20px auto;
        h1{
            text-transform: uppercase;
        }
    }

    .btn{
        display: flex;
        justify-content:center;
    }
    p{
        font-size: 1.5rem;
        margin-top: .2rem;
    }
   i{
       font-size: 2rem;
       margin-top: .4rem;
       margin-left: 20px;
   }

   #calender-container{
       min-height: 50vh;
       justify-content: space-evenly;
       }
       div{
           cursor: pointer;
           flex-basis: 20%;
       }
   }
   .dayview{
       position: relative;

       #aktivitetsvy{
        list-style-type: none;
        overflow: hidden;
        height: 40vh;
            li{
                text-align: left;
                position: relative;
                padding: 5px 0;
                div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    div{
                        justify-content: space-evenly
                    }
                }
                .activity-pic{
                    width: 120px;
                    height: 120px;
                }
                p{
                    padding: 10px;
                }
            }
            .remove-item{
                position: absolute;
                top: 10px; right: 10px;
                color: $red;
                font-size: 1.5rem;
                z-index: 3;
            }
        }
   }
#menu{
    height: 100vh;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: #141414;
    background: #fff;
    z-index: 2;
    padding: 0;

    #closeMenu{
        position: absolute !important;
        top: 20px; left: 10px;
        color: #fff;
        img{
            z-index: 200;
        }
    }
    #menuHeader{
        height: 100px;
        color: #fff;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .cta-button{
        min-height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .lowerMenubuttons{
        position: absolute;
        bottom: 20px;
        width: 90vw;
        margin: 0 15px;
    }
}
.center{
    margin: 0 auto;
}
.capital-letter{
    text-transform: uppercase;
}
.hidden{
    display: none !important;
}
.active{
    color: $primary-color;
}